.description{
    text-align: center;
    font-size: 20px;
    color: #7f8c8d;
}

.filtre{
    background-color: #ebf2f3;
    padding: 20px;
    border-radius: 10px;
}
.filtre .btn{
    width: 20%;

}
.card-annonce{
    border: none; /* Enlève la bordure par défaut */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre douce pour un effet d'élévation */
    border-radius: 20px;
    padding: 10px;
}
.card-title{
    font-size: 25px;
    font-weight: bold;
    color: #3F4446;
}
.card-body {
    padding: 20px; /* Espace autour du contenu de la carte */
}
.annonce-body {
    color: #555; /* Couleur du texte de la carte */
     line-height: 35px; /* Espace entre les lignes de texte */
     text-align: justify;
 }