/* Styles pour le footer */
footer {
    background-color: #3F4446;
    color: white;
    padding: 10px ;
    position: absolute;
    margin-top: 50px;
    margin-bottom: 0;
    width: 100%;
}

.logo-footer {
    height: 100%; 
   width: 100%;
}

.social-icons img {
    margin-right: 10px;
    width: 40px;
    border-radius: 50%;
}

.legal-links a{
    color: #67BC45;
    text-decoration: none;
}

.legal-links a:hover{
    color: rgb(137, 147, 235);
}

.copyright {
    padding: 10px 0;
    text-align: center;
    color:white;
}
/* Styles pour la flèche "Back to Top" */
.back-to-top {
margin-right: 30px;
}

.back-to-top-link {
    text-decoration: none;
}

.back-to-top-icon {
    width: 50px; /* Ajuste la taille de la flèche selon ton design */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: white;
    border-radius: 50%;
}

.back-to-top-icon:hover {
    transform: translateY(-5px); /* Effet de levée lorsqu'on survole */
    border: 2px solid #67BC45;
}
