/* Styles pour le footer */
footer {
    background-color: #3F4446;
    color: white;
    padding: 10px ;
    position: absolute;
    margin-bottom: 0;
    width: 100%;
}

.logo-footer {
    height: 100%; 
   width: 100%;
}

.social-icons img {
    margin-right: 10px;
    width: 40px;
    border-radius: 50%;
}

.legal-links a{
    color: #67BC45;
    text-decoration: none;
}

.legal-links a:hover{
    color: rgb(137, 147, 235);
}
.form-control-newsletter {
    width: 100%; /* Prend toute la largeur disponible */
    margin: 0 auto; /* Centre l'input horizontalement */
}

.newsletter-form {
    width: 100%; /* S'assurer que le formulaire prend la largeur disponible */
}
.form-control-newsletter:focus {
    border-color: #67BC45; /* Couleur de la bordure lors du focus */
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.25); /* Couleur du focus shadow */
    outline: none; /* Enlève l'outline bleu par défaut */
}
.copyright {
    padding: 10px 0;
    text-align: center;
    color:white;
}
/* Styles pour la flèche "Back to Top" */
.back-to-top {
    text-align: center;
position: absolute;  
bottom: 20px; 
right: 20px;
}

.back-to-top-link {
    text-decoration: none;
}

.back-to-top-icon {
    width: 50px; /* Ajuste la taille de la flèche selon ton design */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: white;
    border-radius: 50%;
}

.back-to-top-icon:hover {
    transform: translateY(-5px); /* Effet de levée lorsqu'on survole */
    border: 2px solid #67BC45;
}
