{% for notification in app.flashes('success') %}
	<div class="col-md-6 mx-auto text-center alert alert-success p-2 flash-message">
		{{ notification }}
	</div>
{% endfor %}
{% for notification in app.flashes('error') %}
	<div class="col-md-6 mx-auto text-center alert alert-danger p-2 flash-message">
		{{ notification }}
	</div>
{% endfor %}
<script>
	document.addEventListener('DOMContentLoaded', (event) => { // Sélectionnez tous les messages flash avec la classe flash-message
const flashMessages = document.querySelectorAll('.flash-message');

flashMessages.forEach((message) => { // Délai avant de faire disparaître le message (en millisecondes)
setTimeout(() => {
message.style.transition = "opacity 0.5s ease";
message.style.opacity = '0';

// Supprimer le message du DOM après la transition
setTimeout(() => {
message.remove();
}, 500); // Correspond à la durée de la transition
}, 3000); // Le message reste visible pendant 3 secondes
});
});
</script>
