h1 {
    color: #3F4446;
    font-weight: bold;
}

/* Changer la couleur du focus shadow */
.form-control:focus {
    border-color: #67BC45; /* Couleur de la bordure lors du focus */
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.25); /* Couleur du focus shadow */
    outline: none; /* Enlève l'outline bleu par défaut */
}

.btn-submit{
    background-color: #67BC45;
    color: #fff;
    font-weight: bold;
}

.btn-delete-post{
    background-color: rgba(255, 0, 0, 0.637);
    color: #fff;
}