/* Style pour le bouton ajouter un nouveau post */
.new-post-btn {
    float: right;
    background-color: #67BC45;
    color: #fff;
    font-weight: bold;
}

/* Style pour le titre du post */
.post-title{
    text-align: center;
    margin: 30px 0;
    font-size: 25px;
    font-weight: bold;
    color: #3F4446;
}
.post-container{
    padding: 10px;
}
.card-text{
    border-radius: 10px;
    color: #3F4446;
    font-size: 18px;
    line-height: 35px;
}
.img-container{
padding: 10px;
display: flex;
justify-content: center;
align-items: flex-start;
}
.post-img{
    width:100%;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #3f444640; /* Couleur du focus shadow */

}

.btn-edit-post{
    background-color: #bcba45ce;
    color: #fff;
    width: 150px;
}
.btn-delete-post{
    background-color: rgba(255, 0, 0, 0.637);
    color: #fff;
    width: 150px;
}
