.card {
    border: none; /* Enlève la bordure par défaut */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre douce pour un effet d'élévation */
    border-radius: 20px;
}
.card-body {
    padding: 15px; /* Espace autour du contenu de la carte */
}
.card-text {
   color: #555; /* Couleur du texte de la carte */
    line-height: 35px; /* Espace entre les lignes de texte */
    text-align: justify;
}
h4{
    color:  #F17DA0;
}
.btn.montant-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn.montant-btn.selected {
    background-color: #F17DA0;
    color: white;
}
.btn-don{
    background-color: #F17DA0;
    color: white; 
}
.btn-don img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}