{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Nouveau Post</h1>
{% if app.user %}
    {{ form_start(postForm) }}
    {{ form_widget(postForm) }}
    <button type="submit">Register</button>
{{ form_end(postForm) }}
{% endif %}
</div>
{% endblock %}
